* {
    padding: 0;
    border: 0;
    margin: 0;
}
html {scroll-behavior: smooth;}
a {text-decoration: none; color: inherit;}
a:link{text-decoration: none;}
li {list-style: none;}
body {max-width: 100%; overflow-x: hidden; font-family: 'Pretendard','Apple SD Gothic Neo','Roboto','Noto Sans','Noto Sans KR','Open Sans','Poppins'; background-color: #191926; color: #eee;}
table {border-collapse: collapse;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
html,body {overflow-x: hidden;}

button{
    cursor: pointer;
    outline: none;
    padding: 0;
    border: 0;
    margin: 0;
    background: none;
    vertical-align: middle;
    font-family: inherit;
}

::selection {background-color: rgba(246,161,105,0.6);}

.display-table {
	display: table;
	width: 100%;
	height: 100%;
}
.display-table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.scroll_position { display:block; width:0; height:0;}

.m_top-160{
    margin-top: 160px;
}
.p_bottom-160{
    padding-bottom: 160px;
}

/*::-webkit-scrollbar {display: none;}*/
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.15);
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.08);
    border-radius: 5px;
}

/*banner*/
.main-banner{
    width: 100%;
    height: 1130px;
    margin: 0 auto;
    position: relative;
    
    background-image:url(./img/img_01.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.circle-wrap,.circle-txt {
    width: 1920px;
    margin: 0 auto;
    position: relative;
}


.nav-line{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(153,153,167,0.2);
}


.header-logo{
    position: fixed;
    width: 150px;
    top: 30px;
    left: 30px;
    z-index: 100;
    filter: brightness(0) invert(1);
}
.header{
    position: absolute;
}

.header-logo_mo{
    display: none;
    position: relative;
    top: 80px;
    left: 22px;
    width: 120px;
    filter: brightness(0) invert(1);
}

.header-logo img{
    width: 100%;
}

.header-logo_mo img{
    width: 100%;
}


/* =====================================
              Nav
===================================== */
.btn-menu {
    width: 48px;
    height: 48px;
    background-color: rgba(255,255,255,0);
    position: fixed;
    top:24px;
    right: 24px;
    z-index: 101;
}
.nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 48px;
    overflow-y: hidden;
    background-color: rgba(13,14,25,0.98);
    position: fixed;
    top:0;
    right: -100%;
    z-index: 102;
    transition: all .2s;
}
.nav.open {right: 0;}

.nav .btn-close {
    width: 48px;
    height: 48px;
    background-color: rgba(255,255,255,0);
    position: absolute;
    top:24px;
    right: 24px;
}

.nav__menu {
    font-size: 28px;
    font-weight: 500;
    text-align: left !important;
    color: #fff;
}

.nav__menu a {
    display: block;
    padding: 20px 0;
    transition: all .3s;
}

.nav__menu.active a,
.nav__menu a:hover {color: #FFB072; text-decoration: underline}

@media(min-width:1025px){
   .nav {
       width: 340px;
       min-height: 720px;
       background-color: rgba(13,14,25,0.55);
    }
}

/*
@media(min-width:600px){
   .nav {
       width: 360px;
       min-height: 720px;
    } 
}
*/

.display-table {
    display: table;
    width: 100%;
    height: 100%;}

.display-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*----------------------------------------------------------------*/

.banner-title{
    width: 1400px;
    margin: 0 auto;
}

.title-wrap{
    float: right;
    margin: 16.5em 8em 0 0;
}

.banner-tit{
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner-txt_pc{
    display: block;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #e0e0e0;
}

.banner-txt_mo{
    display: none;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.2px;
    line-height: 1.4;
    color: #e0e0e0;
}


@media screen and (max-width: 1900px){
    .main-banner {background-position: top left;}
}

@media screen and (max-width: 1600px){
    .banner-title {width: 100%;}
    .title-wrap {float: left; margin: 16.5em 0 0 6em;}
    .banner-txt_mo {display: none;}
}

@media screen and (max-width: 1024px){
    .title-wrap {float: left; margin: 16.5em 0 0 6em;}
}
@media screen and (max-width: 900px){
    .nav-line {display: none;}
    .header-logo{position: relative; display: inline-block; width: 150px; top: 30px; left: 30px;}
}

@media screen and (max-width: 600px){
    .main-banner{ height: 900px; margin-top: -150px;}
    .circle-txt {display: none;}
    #wrap {display: none;}
    .title-wrap { float: left; margin: 19em 0 0 2.25em;}
    .banner-tit{font-size: 37px;}
    .banner-txt_pc {display: none;}
    .banner-txt_mo {display: block;}
    .nav-line{display: block;}
    .header-logo{display: none;}
    .header-logo_mo{display: block;}
/*    .nav-line{ width: 100%; height: 220px; border: 0; background-color: rgba(0,0,0,0.2);position: fixed; z-index: 101;}*/
    .btn-menu{width: 60px; height: 60px; top: 5px; right: 5px;}
}
/* banner fin */

/* contents-tit */
.cont-tit{
    position: relative;
    font-family:'Pretendard','Open-Sans','Noto-Sans';
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    vertical-align: bottom;
}
.cont-tit div{
    font-size:15px;
    color: #F3B186;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.tit-dot{
    position: absolute;
    bottom: 6px;
    margin-left: 5px;
}
@media screen and (max-width: 600px){
    .cont-tit {font-size: 34px;}
    .tit-dot {width: 15px; bottom: 2px;}
}
/* contents-tit fin */

/* XD-Introduce */
.XD-Introduce{
    text-align: center;
    border-bottom: 10px solid #12121a;
    margin-bottom: 120px;
}

.introduce-txt_pc{
    display: inline-block;
    font-family: 'Pretendard','Open-Sans','Noto-Sans';
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    color:#dedede;
    margin-bottom: 300px;
    padding: 0 22px;
}

.introduce-txt_mo{
    display: none;
    font-family: 'Pretendard','Apple SD Gothic Neo','Open-Sans','Noto-Sans';
    font-size: 16px;
    font-weight: 200;
    line-height: 1.7;
    color:#dedede;
    margin-bottom: 100px;
}

@media screen and (max-width: 880px){
    .introduce-wrap{ margin-top: 50px; display: inline-block;}
    .introduce-wrap li img{width: 35%;}
}
@media screen and (max-width: 600px){
    .XD-Introduce{margin-bottom: 20px;}
    .introduce-wrap li img{width: 45%;}
    .introduce-txt_pc {display: none;}
    .introduce-txt_mo {display: inline-block;}
}

/* XD-Introduce fin */


/* XD'-Solutions */
.XD-Solutions{
    height: inherit;
    margin: 0px 0 90px 0;
    box-sizing: border-box;
    border-bottom: 10px solid #12121a;
}

/*
.menu-selected::after{
    content: "";
    display: block;
    clear: both;
    width: 50%;
    height: 1px;
    background-color: #959595;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25%;
}
*/

.solution_contents{
    display: block;
    padding: 0px 20px;
    margin: 0 auto;
}

.icon-wrap{
    width: 100%;
}

.wrap03{
    margin: 0 0 10px 0;
}

.icon-wrap ul{
    display: flex;
    justify-content: center;
}

.wrap03 ul{
    padding: 15px 20px;
}

.icon-box{
    float: left;
/*    width: 265px;*/
    min-width: 220px;
    height: 240px;
    margin: 0 15px;
    border: 2px solid #684c40;
    border-radius: 16px;
}

.icon-box img{
    display: block;
    max-width: 150px;
    height: 130px;
    padding: 0 55px;
    margin: 30px auto 0;
}

.icon-box p{
    font-size: 14px;
    font-weight: 100;
    color: #aaa;
    text-align: center;
    margin-top: 10px;
}

.solution_txt{
    margin: 60px auto 240px auto;
    padding: 0 22px;
    text-align: center;
    font-family: 'Pretendard','Open-Sans','Noto-Sans';
    font-size: 18px;
    font-weight: 100;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color:#eee;
}

.product_txt{
    margin: 0 auto 30px auto;
}

.solution_txt_mo{
    display: none;
    margin: 0px auto 100px auto;
    padding: 0 20px;
    text-align: center;
    font-family: 'Pretendard','Open-Sans','Noto-Sans';
    font-size: 16.5px;
    font-weight: 200;
    line-height: 30px;
    color:#eee;
}

.product_img{
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.product_img img{
    width: 77%;
    max-width: 1011px;
}

.btn-wrap{
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 120px;
    padding: 0 22px;
}

.btn-view{
    width: 232px;
    height: 48px;
    margin: 20px auto 15px auto;
    border: 1px solid #aaa;
    font-size: 16px;
    font-weight: 200;
    line-height: 48px;
    color: #ccc;
    cursor: pointer;
}

.btn-view:hover{
    box-shadow: 8px 6px 4px rgba(5,5,7,0.3);
    color: #fafafa;
    background-color: #181724;
    transition-duration: 0.35s;
}

.txt_aisub-mo{
    display: none;
    line-height: 1.5;
}

@media screen and (max-width: 1024px){
    .XD-Solutions{width: 100%; height: inherit; box-sizing: border-box;} 
    .area li {font-size: 1.5em;}
    .scroll-animation li img {width: 70%;}
    .wrap03 ul{padding: 0px 20px}
    .icon-box {margin: 10px 10px;}
    .icon-box img {width: 100%; padding: 0 40px;}
}

@media screen and (max-width: 900px){
    .area {display: none;}
    .area_mo{display: contents;}
    .solution_box {margin-top: 60px;}
    .solution_tit {margin-top: 60px;}
    .solution2_img {padding: 0 1em;}
    .icon-box img {padding: 0;}
}

@media screen and (max-width: 800px){
    .icon-wrap ul {display: block; width: 88%; margin: 0 auto;}
    .wrap03 ul {padding: 0;}
    .icon-box {width: 100%; height: 160px; border-radius: 16px; margin: 10px 0;}
    .icon-box a {display: block; width: 450px; height: inherit; margin: 0 auto;}
    .icon-box a ul {display: inline-block; }
    .icon-box a img{float: left; width: 30%; height: auto; margin: 1em 2em;}
    .icon-box a p {float: left; text-align: left; margin: 60px 0;}
}

@media screen and (max-width: 600px){
    .XD-Solutions {width: 100%; height: inherit; margin: 100px auto 0 ; box-sizing: border-box;}
    .solution_txt {display: none;}
    .solution_txt_mo {display: block;}
    .solution2_img {display: inline-block; padding: 0; margin: -20px 0 60px 0;}
    .tit_txt {font-size: 28px;}
    .img-slider {margin-bottom: 100px; margin-top: -50px;}    
    .icon-wrap ul {display: block; width: 85%; margin: 0 auto;}
    .icon-wrap {margin: 0px 0 40px 0;}
/*    .wrap03 {margin: 60px 0 40px 0;}*/
    .wrap03 ul {padding: 0;}
    .icon-box {width: 100%; height: 220px; border-radius: 16px; margin: 10px 0;}
    .icon-box a {display: block; width: 285px; height: inherit; margin: 0 auto;}
    .icon-box a ul {display: inline-block; }
    .icon-box a img{float: none; width: 90%; display: block; margin: 10px auto;}
    .icon-box a p {float: none; text-align: center; margin: 10px auto;}
    .txt_aisub-pc{display: none;}
    .txt_aisub-mo{display: block;}
}
/* XD'-Solutions fin */

/* XD-info */
.XD-info_pc{
    display: inline-block;
    width: 100%;
    background-color: #0c0c11;
    margin-top: 150px;
}
.XD-info_mo{
    display: none;
    width: 100%;
    background-color: #0c0c11;
    margin-top: 80px;
}


.info-wrap{
    width: 1200px;
    padding: 0 22px;
    margin: 120px auto 150px auto;
}
.info_l{
    float: left;
}
.info_r{
    float: right;
    width: 120px;
    padding-top: 60px;
}

.info_r img{
    width: 100%;
}

.info_logo{
    margin: 0 0 20px 0;
    width: 160px;
}
.info_logo img{
    width: 100%;
}

.info_txt{
    font-family: 'pretendard','Apple SD Gothic Neo',"noto-sans";
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1.2;
    color: #888;
    line-height: 1.6;
    margin-bottom: 110px;
}

.XD-info_mo .info-wrap .info_txt{
    font-family: 'pretendard','Apple SD Gothic Neo',"noto-sans";
    font-size: 14px;
    color: #888;
    line-height: 26px;
    width: 350px;
    margin-bottom: 110px;
}

@media screen and (max-width: 1200px){
    .info_r{display: none;}
}

@media screen and (max-width: 700px){
    .XD-info_pc{display: none;}
    .XD-info_mo{display: inline-block;}
}

/*애니메이션*/


.circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.circle:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #63dde0;
    box-shadow: 0 0 10px #63dde0, 
    0 0 20px #63dde0, 
    0 0 40px #63dde0, 
    0 0 60px #63dde0,
    0 0 80px #63dde0,
    0 0 100px #63dde0,
    0 0 110px #63dde0;
}
.circle2{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 800px;
    left: 12.7%;
}
.circle2:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(243,243,243,0.75);
    box-shadow: 0 0 10px #ddd, 
    0 0 20px #ddd,
    0 0 40px #e0e0e0, 
    0 0 60px #fff,
    0 0 80px #fff,
    0 0 100px #fff,
    0 0 120px #fff,
    0 0 140px #fff;
}
.circle3{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 576px;
    left: 64%;
}
.circle3:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(236,209,235,0.5);
    box-shadow: 0 0 8px #aaa, 
    0 0 16px #aaa, 
    0 0 20px #e0e0e0;
}

.circle4{
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 538px;
    left: 36.9%;
}
.circle4:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(222,222,222,0.5);
    box-shadow: 0 0 10px #aaa, 
    0 0 20px #aaa, 
    0 0 40px #ccc, 
    0 0 60px #e0e0e0,
    0 0 80px #e0e0e0,
    0 0 100px #e0e0e0,
    0 0 120px #e0e0e0,
    0 0 140px #e0e0e0;
}

.circle:first-child  {animation: ani01 1.5s 0.3s infinite alternate; margin-top: 650px; left: 46.5%;}
.circle:nth-child(2) {animation: ani01 2s 0.5s infinite alternate; margin-top: 705px; left: 52%;}
.circle:nth-child(3) {animation: ani01 1.5s 1s infinite alternate; margin-top:652px;  left: 70%;}
.circle:nth-child(4) {animation: ani02 2s 2s infinite alternate; margin-top: 723px; left: 22.4%;}
.circle:nth-child(5) {animation: ani04 2s 0.5s infinite alternate; margin-top: 593px; left: 20%;}
.circle:nth-child(6) {animation: ani01 2s 0.7s infinite alternate; margin-top: 570px; left: 31.7%;}
.circle:nth-child(7) {animation: ani03 2s 0.4s infinite alternate; margin-top: 430px; left: 32.6%;}
.circle:nth-child(8) {animation: ani02 2s 0.8s infinite alternate; margin-top: 290px; left: 31.9%;}
.circle:nth-child(9) {animation: ani01 2s 0.3s infinite alternate; margin-top: 275px; left: 31.5%;}
.circle:nth-child(10) {animation: ani01 2s 1s infinite alternate; margin-top: 50px; left: 30.3%;}
.circle:nth-child(11) {animation: ani02 2s 0.9s infinite alternate; margin-top: 652px; left: 6%;}

.circle2 {animation: ani03 3s 1s infinite alternate;}
.circle3 {animation: ani03 2s 0.5s infinite alternate;}
.circle4 {animation: ani03 3s 2s infinite alternate;}

.text:first-child {animation: ani04 3s 1s infinite alternate; position: absolute; top: 801px; left: 15%;}
.text:nth-child(2) {animation: ani04 2s 0.5s infinite alternate; position: absolute; top: 700px; left: 53.3%;}
.text:nth-child(3) {animation: ani04 3s 2s infinite alternate; position: absolute; top: 530px; left: 38.2%;}
.text:nth-child(4) {animation: ani04 1.5s 1s infinite alternate; position: absolute; top: 645px; left: 71.4%;}


@keyframes ani01 {
    0% {transform: scale(0.6); filter: hue-rotate(0deg) brightness(70%);}
    50% {filter: hue-rotate(75deg);}
    100% {transform: scale(1.3); filter: hue-rotate(150deg) brightness(100%);}
}
@keyframes ani02 {
    0%{transform: scale(0.3); filter: hue-rotate(50deg);}
    50%{filter: hue-rotate(150deg);}
    100%{transform: scale(1); filter: hue-rotate(270deg);}
}
@keyframes ani03 {
    0%{transform: scale(0.6); filter: brightness(60%);}
    50%{filter: brightness(80%);}
    100%{transform: scale(1);  filter: brightness(100%);}
}
@keyframes ani04 {
    0%{filter: brightness(30%);}
    100%{filter: brightness(70%);}
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

/*scrollposition*/
.position01{
    margin-top: -520px;
    padding-top: 550px;
}
.position02{
    padding-top: 100px;
}
.position03{
    margin-top: -100px;
    padding-top: 100px;
}
.position04{
    height: 100px;
    padding-top: 1px;
}

@media screen and (max-width: 1920px){
    .position01 {margin-top: -500px; padding-top: 450px;}
    .introduce-txt_pc {margin-bottom: 240px;}
    .solution_txt {margin-bottom: 240px;}
    .product_txt{margin: -10px auto 30px auto;}
/*    .XD-Introduce {margin-bottom: 70px;}*/
}

@media screen and (max-width: 1600px){
    .position01 {margin-top: -300px; padding-top: 280px;}
}

@media screen and (max-width: 600px){
    .position01 {margin-top: -220px; padding-top: 170px;}
    .position02 {padding: 1px;}
}



