* {
    padding: 0;
    border: 0;
    margin: 0;
}

a {text-decoration: none; color: inherit;}
a:link{text-decoration: none;}
li {list-style: none;}
body {max-width: 100%; overflow-x: hidden; font-family: 'Pretendard','Apple SD Gothic Neo','Roboto','Noto Sans','Noto Sans KR','Open Sans','Poppins'; background-color: #191926; color: #eee;}
table {border-collapse: collapse;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*::-webkit-scrollbar {display: none;}*/
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.15);
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.08);
    border-radius: 5px;
}

/*banner*/
.main-banner{
    width: 100%;
    height: 1130px;
    margin: 0 auto;
    position: relative;
    
    background-image:url(./img/img_01.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.circle-wrap,.circle-txt {
    width: 1920px;
    margin: 0 auto;
    position: relative;
}

.banner-title{
    width: 1400px;
    margin: 0 auto;
}

.title-wrap{
    float: right;
    margin: 20em 5em 0 0;
}

.xdlogo{
    width: 250px;
}

.banner-txt_pc{
    display: block;
    margin-top: 5px;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}
.banner-txt_mo{
    display: none;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

@media screen and (max-width: 1900px){
    .main-banner {background-position: top left;}
}

@media screen and (max-width: 1400px){
    .banner-title {width: 100%;}
    .title-wrap {margin: 20em 4em 0 0;}
    .banner-txt_mo {display: none;}
}

@media screen and (max-width: 1200px){
    .title-wrap { float: left; margin: 20em 0 0 5em;}
}

@media screen and (max-width: 600px){
    .main-banner{ height: 900px; margin-top: -150px;}
    .circle-txt {display: none;}
/*    #wrap {display: none;}*/
    .title-wrap { float: left; margin: 22em 0 0 3.5em;}
    .xdlogo {width: 225px;}
    .banner-txt_pc {display: none;}
    .banner-txt_mo {display: block;}
}
/* banner fin */

/* contents-tit */
.cont-tit{
    position: relative;
    font-family:'Pretendard','Open-Sans','Noto-Sans';
    font-size: 46px;
    text-align: center;
    vertical-align: bottom;
}

.tit-dot{
    position: absolute;
    bottom: 6px;
    margin-left: 5px;
}
@media screen and (max-width: 600px){
    .cont-tit {font-size: 34px;}
    .tit-dot {width: 15px; bottom: 2px;}
}
/* contents-tit fin */

/* XD-Introduce */
.XD-Introduce{
    text-align: center;
    border-bottom: 15px solid #12121a;
}

.introduce-wrap{
    margin: 75px 0 40px 0;
    display: flex;
    justify-content: center;
}

.introduce-wrap li{
    display: inline;
}

.introduce-txt_pc{
    display: inline-block;
    font-family: 'Pretendard','Open-Sans','Noto-Sans';
    font-size: 18px;
    font-weight: 100;
    line-height: 1.7;
    color:#dedede;
    margin-bottom: 140px;
    padding: 0 22px;
}

.introduce-txt_mo{
    display: none;
    font-family: 'Pretendard','Apple SD Gothic Neo','Open-Sans','Noto-Sans';
    font-size: 16px;
    font-weight: 100;
    line-height: 1.7;
    color:#dedede;
    margin-bottom: 80px;
}
@media screen and (max-width: 880px){
    .introduce-wrap{ margin-top: 50px; display: inline-block;}
    .introduce-wrap li img{width: 35%;}
}
@media screen and (max-width: 600px){
    .introduce-wrap li img{width: 45%;}
    .introduce-txt_pc {display: none;}
    .introduce-txt_mo {display: inline-block;}
}

/* XD-Introduce fin */


/* XD'-Solutions */
.XD-Solutions{
    width: 1240px;
    height: inherit;
    margin: 150px auto 0 ;
    box-sizing: border-box;
}

.solution-tab{
    max-width: 1100px;
    margin: 30px auto 0 auto;
}

.area{
    width: 100%;
    margin: 0 auto;
}

.area_mo{
    display: none;
}

.area li{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #757575;
    font-size: 22px;
    font-weight: 400;
    color: #bbb;
    text-align: center;
}

.area_mo li{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #757575;
    font-size: 16px;
    font-weight: 400;
    color: #bbb;
    text-align: center;
}

.area li a:hover{
    text-decoration: underline;
    font-weight: 400;
    color: #fff;
    transition-duration: 0.2s;
}

.solution-tab li .active a{
    color: #fff;
    border-bottom: 2px solid #bdbdbd;
    font-weight: 600;
}

.area .menu-fin{
    border: 0;
}
.area_mo .menu-fin{
    border: 0;
}

.menu-selected::after{
    content: "";
    display: block;
    clear: both;
    width: 50%;
    height: 1px;
    background-color: #959595;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25%;
}
.solution_contents{
    display: block;
    padding: 0 20px;
    margin: 0 auto;
}
.solution_box{
    display: inline-block;
    width: 100%;
    
    border-radius: 16px;
    background-color: #2e2e37;
    margin: 80px auto 0 auto;
}

.solution_tit{
    margin-top: 100px;
    text-align: center;
}

.tit_num{
    font-size: 16px;
    color: #ef9256;
}

.tit_txt{
    font-family: 'Apple SD Gothic Neo',"noto-sans";
    font-size: 34px;
    font-weight: 600;
    margin-top: 5px;
}

.icon-wrap{
    width: 100%;
    margin-top: 60px;
}

.wrap03{
    margin: 0 0 120px 0;
}

.icon-wrap ul{
    display: flex;
    justify-content: center;
}

.wrap03 ul{
    padding: 15px 20px;
}

.icon-box{
    float: left;
    width: 265px;
    min-width: 220px;
    height: 240px;
    margin: 0 15px;
    border: 2px solid #684c40;
    border-radius: 16px;
}

.icon-box img{
    display: block;
    max-width: 150px;
    height: 130px;
    margin: 30px auto 0;
}

.icon-box p{
    font-size: 14px;
    font-weight: 100;
    color: #aaa;
    text-align: center;
    margin-top: 10px;
}

.solution_txt{
    margin: 40px auto 70px auto;
    padding: 0 22px;
    text-align: center;
    font-family: 'Pretendard','Open-Sans','Noto-Sans';
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    color:#eee;
}

.solution_txt_mo{
    display: none;
    margin: 40px auto 70px auto;
    padding: 0 20px;
    text-align: center;
    font-family: 'Pretendard','Open-Sans','Noto-Sans';
    font-size: 16.5px;
    font-weight: 100;
    line-height: 30px;
    color:#eee;
}

.img-slider{
    margin: 0 0 150px 0;
    padding: 0 30px;
}

.slider div img{
    margin: 30px auto 0;
}

.img-slider .bx-wrapper{
    border: none;
    background: none;
    box-shadow: none;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background: #59595f !important;    
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #b1b1b1 !important;
}

.solution2_img{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 0 5em;
    box-sizing: border-box;
}

.solution2_img img{
    width: 100%;
}

.btn-wrap{
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 120px;
    padding: 0 22px;
}

.btn-view{
    width: 232px;
    height: 48px;
    margin: 20px auto 15px auto;
    border: 1px solid #aaa;
    font-size: 16px;
    font-weight: 200;
    line-height: 48px;
    color: #ccc;
    cursor: pointer;
}

.btn-view:hover{
    box-shadow: 8px 10px 5px rgba(32,32,40,0.9);
    color: #fafafa;
    background-color: #2a2a32;
    transition-duration: 0.35s;
}

@media screen and (max-width: 1200px){
    .XD-Solutions{width: 100%; height: inherit; box-sizing: border-box;} 
    .area li {font-size: 1.5em;}
    .scroll-animation li img {width: 70%;}
}

@media screen and (max-width: 900px){
    .area {display: none;}
    .area_mo{display: contents;}
    .solution_box {margin-top: 60px;}
    .solution_tit {margin-top: 60px;}
    .solution2_img {padding: 0 1em;}
    .icon-box img {width: 100%;}
}

@media screen and (max-width: 800px){
    .icon-wrap ul {display: block; width: 88%; margin: 0 auto;}
    .wrap03 ul {padding: 0;}
    .icon-box {width: 100%; height: 160px; border-radius: 16px; margin: 10px 0;}
    .icon-box a {display: block; width: 450px; height: inherit; margin: 0 auto;}
    .icon-box a ul {display: inline-block; }
    .icon-box a img{float: left; width: 30%; height: auto; margin: 1em 2em;}
    .icon-box a p {float: left; text-align: left; margin: 60px 0;}
}

@media screen and (max-width: 600px){
    .XD-Solutions {width: 100%; height: inherit; margin: 80px auto 0 ; box-sizing: border-box;}
    .solution_txt {display: none;}
    .solution_txt_mo {display: block;}
    .solution2_img img {display: none;}
    .tit_txt {font-size: 28px;}
    .img-slider {margin-bottom: 100px; display: none;}
    .btn-wrap {margin-bottom: 60px; margin-top: -60px}
    
    .icon-wrap ul {display: block; width: 85%; margin: 0 auto;}
    .wrap03 {margin: 60px 0 60px 0;}
    .wrap03 ul {padding: 0;}
    .icon-box {width: 100%; height: 220px; border-radius: 16px; margin: 10px 0;}
    .icon-box a {display: block; width: 300px; height: inherit; margin: 0 auto;}
    .icon-box a ul {display: inline-block; }
    .icon-box a img{float: none; width: 90%; display: block; margin: 10px auto;}
    .icon-box a p {float: none; text-align: center; margin: 10px auto;}
}
/* XD'-Solutions fin */

/* XD-info */
.XD-info_pc{
    display: inline-block;
    width: 100%;
    background-color: #0c0c11;
    margin-top: 150px;
}
.XD-info_mo{
    display: none;
    width: 100%;
    background-color: #0c0c11;
    margin-top: 80px;
}

.info-wrap{
    width: 1200px;
    padding: 0 22px;
    margin: 0 auto;
}

.info_logo{
    margin: 120px 0 20px;
}

.info_txt{
    font-size: 16px;
    color: #888;
    line-height: 26px;
    margin-bottom: 110px;
}

@media screen and (max-width: 700px){
    .XD-info_pc{display: none;}
    .XD-info_mo{display: inline-block;}
}

/*애니메이션*/


.circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.circle:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #63dde0;
    box-shadow: 0 0 10px #63dde0, 
    0 0 20px #63dde0, 
    0 0 40px #63dde0, 
    0 0 60px #63dde0,
    0 0 80px #63dde0,
    0 0 100px #63dde0,
    0 0 110px #63dde0;
}
.circle2{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 800px;
    left: 12.7%;
}
.circle2:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(243,243,243,0.75);
    box-shadow: 0 0 10px #ddd, 
    0 0 20px #ddd,
    0 0 40px #e0e0e0, 
    0 0 60px #fff,
    0 0 80px #fff,
    0 0 100px #fff,
    0 0 120px #fff,
    0 0 140px #fff;
}
.circle3{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 572px;
    left: 64%;
}
.circle3:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(236,209,235,0.8);
    box-shadow: 0 0 10px #ddd, 
    0 0 20px #ddd, 
    0 0 40px #e0e0e0, 
    0 0 60px #fff,
    0 0 80px #fff,
    0 0 100px #fff,
    0 0 120px #fff,
    0 0 140px #fff;
}
.circle4{
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 538px;
    left: 36.9%;
}
.circle4:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(222,222,222,0.5);
    box-shadow: 0 0 10px #aaa, 
    0 0 20px #aaa, 
    0 0 40px #ccc, 
    0 0 60px #e0e0e0,
    0 0 80px #e0e0e0,
    0 0 100px #e0e0e0,
    0 0 120px #e0e0e0,
    0 0 140px #e0e0e0;
}

.circle:first-child  {animation: ani01 1s 0.3s infinite alternate; margin-top: 650px; left: 46.5%;}
.circle:nth-child(2) {animation: ani01 1s 0.7s infinite alternate; margin-top: 651px; left: 61.65%;}
.circle:nth-child(3) {animation: ani01 1s 1s infinite alternate; margin-top:652px;  left: 70%;}
.circle:nth-child(4) {animation: ani02 2s 2s infinite alternate; margin-top: 723px; left: 22.4%;}
.circle:nth-child(5) {animation: ani04 2s 0.5s infinite alternate; margin-top: 593px; left: 20%;}
.circle:nth-child(6) {animation: ani01 2s 0.7s infinite alternate; margin-top: 570px; left: 31.7%;}
.circle:nth-child(7) {animation: ani03 2s 0.4s infinite alternate; margin-top: 430px; left: 32.6%;}
.circle:nth-child(8) {animation: ani02 2s 0.8s infinite alternate; margin-top: 290px; left: 31.9%;}
.circle:nth-child(9) {animation: ani01 2s 0.3s infinite alternate; margin-top: 275px; left: 31.5%;}
.circle:nth-child(10) {animation: ani01 2s 1s infinite alternate; margin-top: 50px; left: 30.3%;}
/*.circle:nth-child(11) {animation: ani01 1.5s 1s infinite alternate; margin-top: 702px; left: 17.4%;}*/
.circle:nth-child(11) {animation: ani02 2s 0.9s infinite alternate; margin-top: 652px; left: 6%;}

.circle2 {animation: ani03 3s 1s infinite alternate;}
.circle3 {animation: ani03 2.5s 0.5s infinite alternate;}
.circle4 {animation: ani03 3s 2s infinite alternate;}

.text:first-child {animation: ani04 3s 1s infinite alternate; position: absolute; top: 801px; left: 15%;}
.text:nth-child(2) {animation: ani04 2.5s 0.5s infinite alternate; position: absolute; top: 570px; left: 65.8%;}
.text:nth-child(3) {animation: ani04 3s 2s infinite alternate; position: absolute; top: 530px; left: 38.7%;}


@keyframes ani01 {
    0% {transform: scale(0.6); filter: hue-rotate(0deg) brightness(70%);}
    50% {filter: hue-rotate(75deg);}
    100% {transform: scale(1.3); filter: hue-rotate(150deg) brightness(100%);}
}
@keyframes ani02 {
    0%{transform: scale(0.3); filter: hue-rotate(50deg);}
    50%{filter: hue-rotate(150deg);}
    100%{transform: scale(1); filter: hue-rotate(270deg);}
}
@keyframes ani03 {
    0%{transform: scale(0.6); filter: brightness(60%);}
    50%{filter: brightness(80%);}
    100%{transform: scale(1);  filter: brightness(100%);}
}
@keyframes ani04 {
    0%{filter: brightness(30%);}
    100%{filter: brightness(70%);}
}
